body {
  background-image: url('/861c6291044c997464bdaa59cde2f226a5216a3ac8f7c1329ccbf59fc6243b2f.png');
  background-attachment: fixed;
}
.bgcon {
  background-size: cover;
  backdrop-filter: blur(17px);
  color: #fcfcfc;
  background-color: rgba(160,0,255,.5);
  margin: 8px;
  border: 4px solid #ff00ff;
  border-radius: 4px;
}
.bgnav {
  margin: 0 0 8px 0;
  padding: 8px 16px 4px 16px;
}
.bgtit {
  margin: 0 16px 16px 16px;
  border-radius: 4px;
}
.bgmain {
  margin: 0 4px;
  padding: 0 8px;
  border-radius: 4px;
  margin-bottom: 12px;
}
.bgippan {
  background-color: rgba(0,0,0,.4);
}
.dark-theme a {
  color: #e599e5 !important;
}
#player-container {
  padding-left: 0;
  padding-right: 0;
  margin-left: 1em;
  margin-right: 1em;
}
footer a {
  color: #e599e5 !important;
}
